#DWF-base {
    width: 960px;
    margin: 0 auto;
}

#DWF-control-panel {
    width: 40%;
    float: left;
}

#DWF-control-panel label {
    display: block;
}

#DWF-control-panel ul#DWF-control-panel-tabs li {
    width: 30%;
    float: left;
    list-style-type: none;
    text-align: center;
}

#DWF-control-panel #DWF-add-field li button {
    float: right;
}

#DWF-add-field,
#DWF-field-settings,
#DWF-form-settings {
    display: none;
    clear: both;
    margin: 2em;
}

#DWF-form {
    width: 60%;
    float: right;
}

#DWF-form-fields {
    margin: 0;
    padding: 0;
}

li.DWF-field {
    padding: 1em;
    cursor: pointer;
}

li.DWF-field * {
    cursor: pointer;
}

.DWF-field:hover {
    background-color: #FFC;
}

.DWF-active-field,
.DWF-active-field:hover {
    background-color: #FFA;
}

#DWF-no-fields-msg,
#DWF-none-selected-msg {
    display: none;
}

.DWF-field-required {
    text-weight: bold;
    color: #FF0000;
}

/* Messages */

#DWF-messages {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.DWF-message-success {
    padding: .5em;
    background-color: #CCFFCC;
}

.DWF-message-info {
    padding: .5em;
    background-color: #FFFFCC;
}

.DWF-message-warn {
    padding: .5em;
    background-color: #FFCCCC
}
