{% load wysiwyg_forms_tags %}

<div id="django-wysiwyg-form-editor"></div>

{% include_raw "wysiwyg_forms/tempest_templates.html" %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}wysiwyg_forms/jquery.tempest.js">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}wysiwyg_forms/widgets.js">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}wysiwyg_forms/wysiwyg_forms.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("head").append([
            '<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css"',
            '      type="text/css"',
            '      rel="Stylesheet" />',
            '<link href="{{ MEDIA_URL }}wysiwyg_forms/wysiwyg_styles.css"',
            '      rel="stylesheet"',
            '      type="text/css" />'
        ].join("\n"));
        new DjangoWysiwygFormEditor({
            target: "#django-wysiwyg-form-editor",
            postback: "{{ wysiwyg_forms_postback }}"
        });
    });
</script>
