.wysiwyg-form-controls {
    float: left;
    width: 40%;
    margin: 1em;
}

.wysiwyg-form {
    float: right;
    width: 50%;
    margin: 1em;
}

ul.wysiwyg-form-fields {
    height: 100%;
    overflow: display;
    margin: 0;
    padding: 0;
}

ul.wysiwyg-form-fields li {
    list-style-type: none;
}

.wysiwyg-form-field {
    margin: .25em;
    padding: .25em;
    background-color: #fff;
    border: 1px solid #ddd;
}

.wysiwyg-form-field h3 {
    margin:0;
    padding:0;
}

.wysiwyg-form-field-placeholder {
    width: 100%;
    height: 5em;
    margin: .25em;
    background-color: #AAA;
}

.wysiwyg-selected {
    background-color: #F6F6A6;
    border: 1px solid #ddd;
}

.demo-field {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: .25em;
    padding: .25em;
    width: 21em;
}

.demo-field h4 {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

#field-props dt,
#form-props dt {
    width: 50%;
    float:left;
}