<div id="DWF-field-settings">

  <p id="DWF-no-fields-msg">
    There are no fields in this form! Try <a href="#">adding one</a>.
  </p>

  <p id="DWF-none-selected-msg">
    To edit a field, first select one by clicking on it on the right.
  </p>

  <div id="DWF-edit-field">

    <label>
      Label
      <input type="text" id="DWF-edit-field-label" />
    </label>

    <label>
      Help text
      <textarea id="DWF-edit-field-help-text">
      </textarea>
    </label>

    <label>
      Required
      <input type="checkbox" id="DWF-edit-field-required" />
    </label>

    <label>
      Field Type
      <select id="DWF-edit-field-type">
      </select>
    </label>

    <div id="DWF-edit-field-choices">
      <label>Choices</label>
      <ul>
      </ul>
      <button id="DWF-add-choice">Add new choice</button>
    </div>

  </div>

</div>
