#DWF-base {
    width: 960px;
    margin: 0 auto;
}

#DWF-control-panel {
    width: 40%;
    float: left;
}

#DWF-control-panel label {
    display: block;
}

#DWF-control-panel ul#DWF-control-panel-tabs li {
    width: 30%;
    float: left;
    list-style-type: none;
    text-align: center;
}

#DWF-control-panel #DWF-add-field li button {
    float: right;
}

#DWF-add-field,
#DWF-field-settings,
#DWF-form-settings {
    display: none;
    clear: both;
    margin: 2em;
}

#DWF-form {
    width: 60%;
    float: right;
}

#DWF-form-fields {
    margin: 0;
    padding: 0;
}

li.DWF-field {
    padding: 1em;
    cursor: pointer;
}

li.DWF-field * {
    cursor: pointer;
}

.DWF-hover-field {
    background-color: #FFC;
}

.DWF-active-field {
    background-color: #FFA;
}

#DWF-no-fields-msg,
#DWF-none-selected-msg {
    display: none;
}