{% extends base_template_name %}

{% block content %}
<div id="DWF-base">
</div>
{% endblock %}

{% block scripts %}

<script type="text/json" id="initial-form">{{ form.as_json|safe }}</script>
<script type="text/plain" id="save-target">{% url wysiwyg_forms_apply_transactions form.id %}</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>

<script type="text/javascript" src="{{ STATIC_URL }}wysiwyg_forms/js/require.js">
</script>
<script type="text/javascript">
  require.config({
    baseUrl: '{{ STATIC_URL }}wysiwyg_forms/js'
  });
  require(['dwf'], function (dwf) {
  });
</script>

{% endblock %}
