<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wysiwyg_forms/qunit/qunit.css" />
  </head>
  <body>
    <ul id="test" style="display:none">
    </ul>

    <h1 id="qunit-header">Django WYSIWYG Forms</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>

    <script type="text/plain" id="iframe-src">{% url wysiwyg_forms_new_form %}</script>
    <script type="text/javascript" src="{{ STATIC_URL }}wysiwyg_forms/qunit/qunit.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}wysiwyg_forms/js/test.js">
    </script>
  </body>
</html>
